/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #bideo {
    padding: 10px 10px 10px 10px;
  }
  #descripcion {
    text-align: center;
    z-index: 51;
  }
  #info-textos {
    z-index: 51;
    text-align: center;
    width: 60%;
    height: 20vh;
    position: absolute;
    margin-left: 60px;
    margin-top: 250px;
    font-size: 12;
  }
  h2 {
    font-size: small;
    line-height: 1;
  }
  #mision {
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.466);
  }
  #vision {
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.466);
  }
  #valores {
    margin-top: 1px;
    background-color: rgba(0, 0, 0, 0.466);
  }
  #necesidadesSection {
    padding-top: 1300px;
    padding-bottom: 700px;
  }
  #piramide {
    margin-top: 900px;
    margin-bottom: 900px;
    height: 300vh;
  }
  #logo {
    width: 55%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
